*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

#box1{
    height: 200px;
    width: 200px;
    background: blue;
}

#box2{
    height: 200px;
    width: 200px;
    background: red;
}